.inicio {
    text-align: right;
    font-size: small;
    background-image: url(LOGO.png);
    background-position: left;
    background-size: cover;
    margin-left: 10px;
    width: 400px;
    height: 100px;
    
}
body{
    font-family: sans-serif;
} 

.separate {
    background-color: #00AAFF;
    text-align: center;
    
}
