.inicio {
    text-align: right;
    font-size: small;
    background-image: url(LOGO.png)
    
}
body{
    font-family: sans-serif;
} 

.separate {
    background-color: #00AAFF;
    text-align: center;
    
}
