header div{
    margin-left: 1%;
    background-image: url(LOGO.png);
    background-position: left;
    background-size: cover;
    width: 400px;
    height: 100px;
}
header h1 {
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 5px solid #00A5CC;
    border-radius: 15px;
    background-color: #00AAFF;
    text-align: center; 
}
header h3 {
    text-align: right;
    font-size: small;
}
header div {
    float: left;
}
nav {
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    border-radius: 12px;
    border-left: 5px solid #00AAFF;
    background-color: #B3CCCC;
    text-align: center
}
nav A:hover{
    color: #B30000;
}

figure{
    margin-right: 75%;
}
figure:hover figcaption{
    display: block;
}
figcaption{
    display: none;
    padding: 2%;
    border-radius: 12px;
    border-bottom: 5px solid #00AAFF;
    background-color: #B3CCCC;
    align-self: center;
}
img{
    border-radius: 12px;
}

body{
    font-family: sans-serif;
    background-color: #DDDDDD;
} 
body header {
    font-size: large;
}

.description {
    padding: 1%;
    margin-right: 20%;
    margin-left: 10%;
    text-align: left;
    float: left; 
}

table {
    margin-right: 12%;
    margin-left: 12%;
    border: 4px solid #B3CCCC;
    background-color: #CCf2FF;    
}
strong {
    color: #B30000;
}

.selected {
    background-color: #B3CCCC;
}
