header div{
    margin-left: 1%;
    background-image: url(Logo_COD.jpeg);
    background-position: left;
    background-size: cover;
    width: 400px;
    height: 100px;
    float: left;
}
header h1 {
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 5px solid #000000;
    border-radius: 15px;
    background-color: #0cc0dd;
    text-align: center; 
}
header h3 {
    padding-right: 2%;
    text-align: right;
    font-size: small;
}

hr{
    border-bottom-width: medium;
    border-bottom-color: #000000;
    margin-left: 10%;
    margin-right: 10%;
}


img{
    border-radius: 12px;
}

body{
    padding: 1%;
    border: 2%;
    font-family: sans-serif;
    background-color: #feefd0;
} 
body header {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: large;
}

nav {
    padding: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 4%;
    border-radius: 12px;
    border-left: 5px solid #0cc0dd;
    border-right: 5px solid #ff77ff;
    background-color: #000000;
    text-align: center;
    font-size: large;
}
nav a,em {
    color: #ffffff;
}
nav a:hover{
    color: #0cc0dd;
}

figure{
    margin-right: 75%;
}
figure:hover figcaption{
    display: block;
}
figcaption{
    display: none;
    padding: 2%;
    margin: 3%;
    border-radius: 12px;
    border-bottom: 5px solid #00AAFF;
    background-color: #B3CCCC;
    align-self: center;
}

strong {
    color: #B30000;
}

ul {
    padding: 2%;
    margin: 5%;
    border-left: 3pt solid #0cc0ff;
    background-color: #feefd0;
}

article {
    padding: 1%;
    background-color: #feefd0;
    border-left: 4px solid #ff77ff; 
}
