<div class="container">
    <a href="index.php">
        <button class="btn waves-effect waves-light" type="submit" name="action">Exit<i class="material-icons">power_settings_new</i>
        </button>
        <?php
    
            session_unset();
            session_destroy();
        
        ?>
    </a>
    
    <?php if($_POST["usuario"] == "Profesor"): ?>
        <div>
            <ul>
                <h3>¿Por qué es una buena práctica separar el controlador de la vista?.</h3>
                <br>
                <p>Es importante ya que hacerlo disminuye la complejidad del código y permite reusar las vistas sin reescribir. </p>
                <br>
                <h3>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</h3>
                <br>
                <p>Hay varios más. <code>$_FILES</code> es un arreglo de archivos subidos con el método <code>$POST</code>; y en el arreglo <code>$_REQUEST</code> se almacena información sobre la forma recibida. Algunos otros son : <code>, $_FILES, $_ENV, $_COOKIE, $_SESSION</code>.</p>
                <br>
                <h3>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</h3>
                <br>
                <p>Nunca había utilizado la función <code>isset</code>, que permite identificar si una variable es nla o no, y obviamente la función de <code>htmlspecalchars</code> es nueva para mí, pues no se me hubiera ocurrido que ya existía una función para validar que el texto contiene caracteres reservados y así poder evitar un ataque.</p>
                <br>
                <h3>¿Qué es XSS y cómo se puede prevenir?</h3>
                <br>
                <p><strong>Cross-Site Scripting</strong> es un medio de ataque de inyección en web. Consiste en enviar script malicioso al servidor para acceder a los datos o cmbiar la funcionalidad de la plataforma</p>
                <br>
            </ul>
        </div>
    <?php endif; ?>
    
    <?php if($_POST["usuario"] == "Becario"): ?>
        <div class="center-align linked">
            <a href="https://github.com/userDiegoRz/DAW_BD/tree/diego/develop/Lab11"><img alt="githublogo" src="media/gh.png"><h3>Remember to visit my Repository!</h3></a>
        </div>
    <?php endif; ?>
    

</div>